rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    match /users/{userId} {
      allow create: if isSignedIn() && request.resource.data.uid == request.auth.uid;
      allow read, update, delete: if isOwner(userId);

      // Allow owner to read their own community memberships
      match /communityMemberships/{communityId} {
        allow get: if isOwner(userId);
        allow list: if isOwner(userId);
      }
    }

    match /userProfiles/{userId} {
      allow get: if true;
      allow create, update: if isOwner(userId);

      // Notifications can only be read by the owner and written to by anyone signed in
      // (as users create notifications for others by voting).
      match /notifications/{notificationId} {
        allow read, update: if isOwner(userId);
        allow create: if isSignedIn();
      }
    }
    
    match /communities/{communityId} {
      allow list, get: if true;
      allow create: if isSignedIn();
      allow update, delete: if isSignedIn() && resource.data.creatorId == request.auth.uid;

      // Allow users to join/leave communities
      match /members/{userId} {
        allow write: if isOwner(userId);
      }

      match /posts/{postId} {
        allow list, get: if true;
        allow create: if isSignedIn();
        allow update: if (isSignedIn() && resource.data.creatorId == request.auth.uid) ||
                         (isSignedIn() && request.resource.data.diff(resource.data).affectedKeys().hasOnly(['voteCount', 'reactionCounts']));
        allow delete: if isSignedIn() && resource.data.creatorId == request.auth.uid;

        // Rules for post votes
        match /votes/{userId} {
          allow read: if true;
          allow write: if isSignedIn();
        }

        // Rules for post reactions
        match /reactions/{userId} {
          allow read: if true;
          allow create, update, delete: if isOwner(userId);
        }

        match /comments/{commentId} {
          allow list, get: if true;
          allow create: if isSignedIn();
          allow update: if (isSignedIn() && resource.data.creatorId == request.auth.uid) ||
                           (isSignedIn() && request.resource.data.diff(resource.data).affectedKeys().hasOnly(['voteCount', 'reactionCounts']));
          allow delete: if isSignedIn() && resource.data.creatorId == request.auth.uid;

          // Rules for comment votes
          match /votes/{userId} {
            allow read: if true;
            allow write: if isSignedIn();
          }

          // Rules for comment reactions
          match /reactions/{userId} {
            allow read: if true;
            allow create, update, delete: if isOwner(userId);
          }
        }
      }
    }
    match /{path=**}/posts/{postId} {
      allow read: if true;
    }
  }
}
